<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHMSU Guidance Connect • Sign up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'sysadmin/login.css' %}">
  <link rel="icon" type="image/png" href="{{ MEDIA_URL }}CHMSUlogo.png">

</head>
<body>
  <div class="background"></div>

  <header>
    <div class="logo-title">
      <img src="{{ MEDIA_URL }}CHMSUlogo.png" alt="School Logo" class="logo">
      <div class="title-text">
        <h1>CHMSU GUIDANCE CONNECT</h1>
        <p>"Your mental wellness, our priority."</p>
      </div>
    </div>
  </header>
  <div class="header-nav">
    <a href="#">About</a>
    <a href="{% url 'sysadmin:login' %}">Login</a>
  </div>

  <main>
    <div class="login-card">
      <label class="admin-label">Administrator</label>
      {% if error %}
        <div class="form-error">{{ error }}</div>
      {% endif %}
      <form method="post" action="{% url 'sysadmin:signup' %}">
        {% csrf_token %}

        <label for="id_email">Email</label>
        <input class="input-border" type="email" id="id_email" name="email" placeholder="Enter your Email" value="{{ email }}" required autofocus>

        <label for="id_password">Password</label>
        <input class="input-border" type="password" id="id_password" name="password" placeholder="Create Password" required>

        <label for="id_confirm_password">Confirm Password</label>
        <input class="input-border" type="password" id="id_confirm_password" name="confirm_password" placeholder="Confirm Password" required>

        <button type="submit" class="btn-login">Sign up</button>
      </form>

      <p class="signup-text">
        Already have an account? <a href="{% url 'sysadmin:login' %}">Login</a>
      </p>
    </div>
  </main>

</body>
</html>


